<template>
    <v-container fluid>
        <v-row justify="center" v-if="connectivityStatus">
            <v-col xl="6" lg="8" md="10">
                <app-title></app-title>
                <task-list-selector></task-list-selector>
                <v-card class="pa-4" color="blue-grey lighten-5">
                    <search-add-bar></search-add-bar>
                    <v-expansion-panels multiple v-model="expandedPanelsByDefault">
                        <task-group :bgcolor="'red'" :name="'Overdue'" :tasks="pastTasks"></task-group>
                        <task-group :bgcolor="'yellow'" :name="'Today'" :tasks="todayTasks"></task-group>
                        <task-group :bgcolor="'blue'" :name="'Future & Unplanned'" :tasks="futureTasks"></task-group>
                        <task-group :bgcolor="'green'" :name="'Done'" :tasks="doneTasks"></task-group>
                    </v-expansion-panels>
                </v-card>
            </v-col>
        </v-row>
        <div v-else style="height: 100vh" class="d-flex flex-column justify-center align-center">
            <v-icon class="my-2" size="128" color="grey">mdi-wifi-strength-off-outline</v-icon>
            <span class="my-2 text-body-1 grey--text">Cannot connect to API. Please reload.</span>
        </div>
        <app-snaccbar></app-snaccbar>
    </v-container>
</template>

<script>
import AppTitle from "@/components/AppTitle";
import SearchAddBar from "@/components/SearchAddBar";
import TaskGroup from "@/components/TaskGroup";
import TaskListSelector from "@/components/TaskListSelector";
import AppSnaccbar from "@/components/AppSnaccbar";

import { mapActions, mapGetters, mapState } from "vuex";

export default {
    name: "Home",
    components: {
        AppTitle,
        TaskGroup,
        SearchAddBar,
        TaskListSelector,
        AppSnaccbar,
    },
    data: () => ({
        ...mapActions(["checkConnectivity", "loadLists", "loadTasks"]),
        expandedPanelsByDefault: [1],
    }),
    computed: {
        ...mapGetters(["pastTasks", "todayTasks", "futureTasks", "doneTasks"]),
        ...mapState(["connectivityStatus"]),
    },
    beforeMount() {
        this.checkConnectivity();
    },
    mounted() {
        this.loadLists();
        this.loadTasks();
    },
};
</script>
