<!-- Stolen from https://stackoverflow.com/a/62809325; thanks @kalana-mihiranga -->

<template>
    <v-snackbar v-model="show" :timeout="2000"
        >{{ text }}
        <template v-slot:action="{ attrs }">
            <v-btn icon v-bind="attrs" @click="handleSnaccbarActionClick">
                <v-icon>mdi-close</v-icon>
            </v-btn></template
        >
    </v-snackbar>
</template>

<script>
export default {
    name: "AppSnackbar",
    data() {
        return {
            text: null,
            show: false,
        };
    },
    methods: {
        handleSnaccbarActionClick() {
            this.show = false;
        },
    },
    created() {
        this.$store.subscribe((mutation, state) => {
            if (mutation.type === "showSnaccbar") {
                this.text = state.snaccbar.text;
                this.show = true;
            }
        });
    },
};
</script>
