<template>
    <v-row justify="center" class="py-6" @click="handleTitleClick">
        <span class="display-1 font-weight-light">{{ VUE_APP_TITLE }}</span>
    </v-row>
</template>

<script>
import { mapActions } from "vuex";

export default {
    name: "AppTitle",
    data() {
        return {
            VUE_APP_TITLE: process.env.VUE_APP_TITLE,
        };
    },
    methods: {
        ...mapActions(["showSnaccbar"]),
        handleTitleClick() {
            this.showSnaccbar({
                text: "Easter egg nè 🥚",
            });
        },
    },
};
</script>
