<template>
    <div class="d-flex">
        <v-text-field
            prepend-inner-icon="mdi-magnify"
            label="Search for tasks…"
            v-model="taskFilterQuery"
            solo
            clearable
            height="56px"
            class="mr-4 pb-4"
            hide-details="true"
        ></v-text-field>
        <v-btn height="56px" color="primary" @click="handleNewTaskDialogOpen">
            <v-icon left>mdi-plus</v-icon> New Task
        </v-btn>
        <v-dialog v-model="newTaskDialogOpened" max-width="640px" persistent>
            <v-card>
                <v-card-title>New task</v-card-title>
                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-col>
                                <v-text-field label="Title" v-model="title" required outlined messages="Required">
                                    <template v-slot:prepend>
                                        <v-icon class="mr-4">mdi-format-title</v-icon>
                                    </template>
                                </v-text-field>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col>
                                <v-textarea label="Description" v-model="desc" outlined hide-details="auto" rows="4">
                                    <template v-slot:prepend>
                                        <v-icon class="mr-4">mdi-text</v-icon>
                                    </template>
                                </v-textarea>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col cols="7">
                                <v-menu
                                    v-model="datePickerOpened"
                                    :close-on-content-click="false"
                                    transition="slide-y-transition"
                                >
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-text-field
                                            label="Date"
                                            v-model="date"
                                            readonly
                                            outlined
                                            hide-details="auto"
                                            v-bind="attrs"
                                            v-on="on"
                                        >
                                            <template v-slot:prepend>
                                                <v-icon class="mr-4">mdi-clock-outline</v-icon>
                                            </template></v-text-field
                                        >
                                    </template>
                                    <v-date-picker
                                        v-model="date"
                                        scrollable
                                        landscape
                                        @input="datePickerOpened = false"
                                    ></v-date-picker>
                                </v-menu>
                            </v-col>
                            <v-col cols="5">
                                <v-menu
                                    v-model="timePickerOpened"
                                    ref="timePickerMenu"
                                    :close-on-content-click="false"
                                    :return-value.sync="time"
                                    transition="slide-y-transition"
                                >
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-text-field
                                            label="Time"
                                            v-model="time"
                                            readonly
                                            outlined
                                            hide-details="auto"
                                            v-bind="attrs"
                                            v-on="on"
                                        ></v-text-field>
                                    </template>
                                    <v-time-picker
                                        v-model="time"
                                        scrollable
                                        landscape
                                        format="24hr"
                                        @click:minute="$refs.timePickerMenu.save(time)"
                                    ></v-time-picker>
                                </v-menu>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-btn text @click="handleNewTaskDialogCancel">
                        <v-icon left>mdi-close</v-icon>
                        Cancel
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn text @click="handleNewTaskDialogClearDateTime">
                        <v-icon left>mdi-calendar-remove-outline</v-icon>
                        Clear timestamp
                    </v-btn>
                    <v-btn depressed color="primary" :disabled="newTaskDialogDisableOK" @click="handleNewTaskDialogOK">
                        <v-icon left>mdi-check</v-icon>
                        OK
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import { toTimestamp } from "@/utils/timeUtils";
import { mapActions } from "vuex";

export default {
    name: "SearchAddBar",
    data: () => ({
        taskFilterQuery: null,
        newTaskDialogOpened: false,
        title: "",
        desc: "",
        date: null,
        time: null,
        datePickerOpened: false,
        timePickerOpened: false,
    }),
    computed: {
        newTaskDialogDisableOK: function () {
            /* Title is always required.
             * Both Time & Date are required only when either of those are defined
             * (to prevent partial timestamp)
             */
            return (
                this.title === "" ||
                (this.date !== null && this.time === null) ||
                (this.date === null && this.time !== null)
            );
        },
    },
    watch: {
        taskFilterQuery: function (query) {
            this.filterTasks(query ? query.trim() : "");
        },
    },
    methods: {
        ...mapActions(["filterTasks", "createTask"]),
        ...mapActions(["showSnaccbar"]),
        handleNewTaskDialogOpen() {
            this.title = null;
            this.desc = null;
            this.date = null;
            this.time = null;
            this.newTaskDialogOpened = true;
        },
        handleNewTaskDialogOK() {
            this.createTask({
                title: this.title,
                desc: this.desc,
                timestamp: this.date && this.time ? toTimestamp(this.date, this.time) : null,
            });
            this.newTaskDialogOpened = false;
            this.showSnaccbar({
                text: "New task created",
            });
        },
        handleNewTaskDialogCancel() {
            this.newTaskDialogOpened = false;
        },
        handleNewTaskDialogClearDateTime() {
            this.date = null;
            this.time = null;
        },
    },
};
</script>
