<template>
    <div class="d-flex py-4">
        <v-select
            outlined
            hide-details="true"
            :items="lists"
            item-text="title"
            item-value="uuid"
            v-model="_currentListId"
        ></v-select>
        <v-btn outlined height="56px" class="ml-4" @click="handleNewTaskListDialogOpen">
            <v-icon left>mdi-plus-box-multiple-outline</v-icon> New Task List
        </v-btn>
        <v-btn
            outlined
            height="56px"
            class="ml-4"
            color="error"
            @click="handleDeleteTaskListDialogOpen"
            :disabled="_currentListId === '00000000-0000-0000-0000-000000000000'"
        >
            <v-icon left>mdi-minus-box-multiple-outline</v-icon> Delete Task List
        </v-btn>
        <v-dialog v-model="newTaskListDialogOpened" max-width="640px" persistent>
            <v-card>
                <v-card-title>New Task List</v-card-title>
                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-col>
                                <v-text-field label="Task list name" v-model="newListName" outlined hide-details="auto">
                                    <template v-slot:prepend>
                                        <v-icon class="mx-4">mdi-format-list-bulleted</v-icon>
                                    </template>
                                </v-text-field>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-btn text @click="handleNewTaskListDialogCancel">
                        <v-icon left>mdi-close</v-icon>
                        Cancel
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn depressed color="primary" :disabled="newListName === ''" @click="handleNewTaskListDialogOK">
                        <v-icon left>mdi-check</v-icon>
                        OK
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="deleteTaskListDialogOpened" max-width="640px" persistent>
            <v-card>
                <v-card-title>Delete Task List</v-card-title>
                <v-card-text>Are you sure you want to delete this task list?</v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="error" @click="handleDeleteTaskListDialogOK">
                        <v-icon left>mdi-delete</v-icon>
                        OK
                    </v-btn>
                    <v-btn text @click="handleDeleteTaskListDialogCancel">
                        <v-icon left>mdi-close</v-icon>
                        Cancel
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
    name: "TaskListSelector",
    data() {
        return {
            newListName: "",
            newTaskListDialogOpened: false,
            deleteTaskListDialogOpened: false,
        };
    },
    computed: {
        ...mapState(["lists", "currentListId"]),
        _currentListId: {
            get() {
                return this.currentListId;
            },
            set(newListId) {
                this.setCurrentListId(newListId);
            },
        },
    },
    methods: {
        ...mapActions(["setCurrentListId", "createTaskList", "deleteTaskList"]),
        ...mapActions(["showSnaccbar"]),
        handleNewTaskListDialogOpen() {
            this.newListName = "";
            this.newTaskListDialogOpened = true;
        },
        handleNewTaskListDialogOK() {
            this.createTaskList({
                title: this.newListName,
            });
            this.showSnaccbar({
                text: "Task list created",
            });
            this.newTaskListDialogOpened = false;
        },
        handleNewTaskListDialogCancel() {
            this.newTaskListDialogOpened = false;
        },
        handleDeleteTaskListDialogOpen() {
            this.deleteTaskListDialogOpened = true;
        },
        handleDeleteTaskListDialogOK() {
            this.deleteTaskList({
                uuid: this._currentListId,
            });
            this._currentListId = "00000000-0000-0000-0000-000000000000"; // Switch to Default
            this.showSnaccbar({
                text: "Task list removed",
            });
            this.deleteTaskListDialogOpened = false;
        },
        handleDeleteTaskListDialogCancel() {
            this.deleteTaskListDialogOpened = false;
        },
    },
};
</script>
