<template>
    <v-expansion-panel>
        <v-expansion-panel-header :color="finalBgColor">
            <span class="text-h6">{{ name }}</span>
            <template v-slot:actions>
                <v-row align="center">
                    <span class="mr-2 text-subtitle-1" v-if="tasks.length > 0">{{ tasks.length }}</span>
                    <v-icon>$expand</v-icon>
                </v-row>
            </template>
        </v-expansion-panel-header>
        <v-expansion-panel-content :color="finalBgColor">
            <div v-if="tasks.length === 0">(empty)</div>
            <v-expansion-panels multiple focusable>
                <v-expansion-panel>
                    <v-expansion-panels accordion>
                        <task
                            v-for="task in tasks"
                            :key="task.uuid"
                            :uuid="task.uuid"
                            :title="task.title"
                            :desc="task.desc"
                            :timestamp="task.timestamp"
                            :isDone="task.isDone"
                        />
                    </v-expansion-panels>
                </v-expansion-panel>
            </v-expansion-panels>
        </v-expansion-panel-content>
    </v-expansion-panel>
</template>

<script>
import TaskVue from "./Task.vue";

export default {
    name: "TaskGroup",
    props: ["bgcolor", "name", "tasks"],
    data() {
        return {
            finalBgColor: `${this.bgcolor} lighten-5`,
        };
    },
    components: {
        task: TaskVue,
    },
};
</script>
