<template>
    <v-expansion-panel>
        <v-expansion-panel-header disable-icon-rotate expand-icon="">
            <template v-slot:default="{ open }">
                <v-row align="center">
                    <v-checkbox @click.stop="handleCheckboxEvent" v-model="this_isDone"></v-checkbox>
                    <span class="text-body-1">{{ title }}</span>
                    <v-spacer />
                    <v-fade-transition>
                        <div class="_chips mx-1" v-show="!open">
                            <v-chip class="mx-1" v-if="desc !== undefined">
                                <v-icon small>mdi-text</v-icon>
                            </v-chip>
                            <v-chip class="mx-1" v-if="timestamp !== undefined">
                                <v-icon left small>mdi-clock-outline</v-icon>
                                {{ relativeTimestamp }}
                            </v-chip>
                        </div>
                    </v-fade-transition>
                </v-row>
            </template>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
            <v-row class="pt-4"></v-row>
            <v-row v-if="desc !== undefined">
                <v-col cols="1">
                    <v-icon>mdi-text</v-icon>
                </v-col>
                <v-col cols="11">
                    <div class="text-body-1" style="white-space: pre-wrap">{{ desc }}</div>
                </v-col>
            </v-row>
            <v-row v-if="timestamp !== undefined">
                <v-col cols="1">
                    <v-icon>mdi-clock-outline</v-icon>
                </v-col>
                <v-col cols="auto">
                    <div class="text-body-1">{{ formattedTimestamp }}</div>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="1"></v-col>
                <v-col cols="11">
                    <v-btn class="mr-4" depressed @click="handleEditTaskDialogOpen">
                        <v-icon left>mdi-pencil-outline</v-icon>
                        Edit
                    </v-btn>
                    <v-btn class="mr-4" depressed color="error" @click="deleteSelf">
                        <v-icon left>mdi-delete-outline</v-icon>
                        Delete
                    </v-btn>
                </v-col>
            </v-row>
            <v-dialog v-model="editTaskDialogOpened" max-width="640px" persistent>
                <v-card>
                    <v-card-title>New task</v-card-title>
                    <v-card-text>
                        <v-container>
                            <v-row>
                                <v-col>
                                    <v-text-field
                                        label="Title"
                                        v-model="this_title"
                                        required
                                        outlined
                                        messages="Required"
                                    >
                                        <template v-slot:prepend>
                                            <v-icon class="mr-4">mdi-format-title</v-icon>
                                        </template>
                                    </v-text-field>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col>
                                    <v-textarea
                                        label="Description"
                                        v-model="this_desc"
                                        outlined
                                        hide-details="auto"
                                        rows="4"
                                    >
                                        <template v-slot:prepend>
                                            <v-icon class="mr-4">mdi-text</v-icon>
                                        </template>
                                    </v-textarea>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col cols="7">
                                    <v-menu
                                        v-model="datePickerOpened"
                                        :close-on-content-click="false"
                                        transition="slide-y-transition"
                                    >
                                        <template v-slot:activator="{ on, attrs }">
                                            <v-text-field
                                                label="Date"
                                                v-model="this_date"
                                                readonly
                                                outlined
                                                hide-details="auto"
                                                v-bind="attrs"
                                                v-on="on"
                                            >
                                                <template v-slot:prepend>
                                                    <v-icon class="mr-4">mdi-clock-outline</v-icon>
                                                </template></v-text-field
                                            >
                                        </template>
                                        <v-date-picker
                                            v-model="this_date"
                                            scrollable
                                            landscape
                                            @input="datePickerOpened = false"
                                        ></v-date-picker>
                                    </v-menu>
                                </v-col>
                                <v-col cols="5">
                                    <v-menu
                                        v-model="timePickerOpened"
                                        ref="timePickerMenu"
                                        :close-on-content-click="false"
                                        :return-value.sync="this_time"
                                        transition="slide-y-transition"
                                    >
                                        <template v-slot:activator="{ on, attrs }">
                                            <v-text-field
                                                label="Time"
                                                v-model="this_time"
                                                readonly
                                                outlined
                                                hide-details="auto"
                                                v-bind="attrs"
                                                v-on="on"
                                            ></v-text-field>
                                        </template>
                                        <v-time-picker
                                            v-model="this_time"
                                            scrollable
                                            landscape
                                            format="24hr"
                                            @click:minute="$refs.timePickerMenu.save(this_time)"
                                        ></v-time-picker>
                                    </v-menu>
                                </v-col>
                            </v-row>
                        </v-container>
                    </v-card-text>
                    <v-card-actions>
                        <v-btn text @click="handleEditTaskDialogCancel">
                            <v-icon left>mdi-close</v-icon>
                            Cancel
                        </v-btn>
                        <v-spacer></v-spacer>
                        <v-btn text @click="handleEditTaskDialogClearDateTime">
                            <v-icon left>mdi-calendar-remove-outline</v-icon>
                            Clear timestamp
                        </v-btn>
                        <v-btn
                            depressed
                            color="primary"
                            :disabled="editTaskDialogDisableOK"
                            @click="handleEditTaskDialogOK"
                        >
                            <v-icon left>mdi-check</v-icon>
                            OK
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-expansion-panel-content>
    </v-expansion-panel>
</template>

<script>
import { fromTimestamp, toTimestamp, toRelativeTimestamp, toHumanReadableTimestamp } from "@/utils/timeUtils";
import { mapActions } from "vuex";

export default {
    name: "Task",
    props: ["uuid", "title", "desc", "timestamp", "isDone"],
    data() {
        return {
            this_title: this.title,
            this_desc: this.desc,
            this_date: this.timestamp ? fromTimestamp(this.timestamp).date : null,
            this_time: this.timestamp ? fromTimestamp(this.timestamp).time : null,
            this_isDone: this.isDone,
            datePickerOpened: false,
            timePickerOpened: false,
            editTaskDialogOpened: false,
        };
    },
    computed: {
        relativeTimestamp: function () {
            return toRelativeTimestamp(this.timestamp);
        },
        formattedTimestamp: function () {
            return toHumanReadableTimestamp(this.timestamp);
        },
        editTaskDialogDisableOK: function () {
            /* Title is always required.
             * Both Time & Date are required only when either of those are defined
             * (to prevent partial timestamp)
             */
            return (
                this.title === "" ||
                (this.date !== null && this.time === null) ||
                (this.date === null && this.time !== null)
            );
        },
    },
    watch: {
        this_isDone: function () {
            this.updateTaskStatus({
                uuid: this.uuid,
                isDone: this.this_isDone,
            });
            this.showSnaccbar({
                text: `Task marked as ${this.this_isDone ? "done" : "not done"}`,
            });
        },
    },
    methods: {
        ...mapActions(["updateTaskStatus", "deleteTask", "updateTask"]),
        ...mapActions(["showSnaccbar"]),
        handleCheckboxEvent: function (e) {
            e.cancelBubble = true;
        },
        deleteSelf() {
            this.deleteTask(this.uuid);
            this.showSnaccbar({
                text: "Task removed",
            });
        },
        handleEditTaskDialogOpen() {
            this.this_title = this.title;
            this.this_desc = this.desc;
            this.this_date = this.timestamp ? fromTimestamp(this.timestamp).date : null;
            this.this_time = this.timestamp ? fromTimestamp(this.timestamp).time : null;
            this.editTaskDialogOpened = true;
        },
        handleEditTaskDialogOK() {
            this.updateTask({
                uuid: this.uuid,
                title: this.this_title,
                desc: this.this_desc,
                timestamp: this.this_date && this.this_time ? toTimestamp(this.this_date, this.this_time) : null,
            });
            this.editTaskDialogOpened = false;
            this.showSnaccbar({
                text: "Task edited",
            });
        },
        handleEditTaskDialogCancel() {
            this.editTaskDialogOpened = false;
        },
        handleEditTaskDialogClearDateTime() {
            this.this_date = null;
            this.this_time = null;
        },
    },
};
</script>
